<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"/>
        <title th:text="${titleIsTheTitleWeGive}">TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        <div>Welkom !</div>
        
        <th th:text="${welkom}"/>
        
        <a th:href="@{/product}"> Nieuw product maken </a>
    </body>
</html>
